In [1]:
import pandas as pd

Pandas 라이브러리 Import.

파이썬의 데이터 구조들은 여러 가지로 구성되어 잘 갖추어져 있지만, 

Pandas 모듈은 Series와 DataFrame라는 데이터 구조를 제공하며, 이를 활용하면 훨씬 효율적으로 데이터를 다룰 수 있다.


시리즈(series)는 Index를 가지는 (또는 레이블이 있는) 1차원 벡터이다.

데이터 프레임 (Data Frame)은 Index를 가지는 행과 열로 구성된 테이블이며, 각 열이 시리즈로 구성된 테이블로 이해하면 간단하다.

(Index를 가진다는 것만 이해하면, 사실 핵심은 끝나는 데 아직 직관적인 이해가 되지 않을 테니, 각 행, 열 별로 이름이 달려 있다고만 이해하자!)

주목할 점은 시리즈와 프레임은 단순한 저장용 컨테이너가 아니며, 다양한 데이터 전처리 함수를 갖추고 있다.
- 단순 혹은 계층적 인덱싱
- 결측치 처리
- 전체 열과 테이블에서 사칙, 논리 연산
- 데이터베이스-타입 연산 (JOIN, SELECTION 등...)
- 단일 열이나 전체 테이블 시각화
- 파일에서 데이터 읽고 쓰기

1차원이나 2차원 테이블형 데이터를 다룰 때는, 시리즈나 프레임을 사용하면 좋다!!



Series: 1차원 데이터 벡터
튜플로 구성된 데이터를 가지고 시리즈를 만들어보자! 
(튜플의 데이터 자체는 변형 불가능하다는 점 참조)

In [2]:
values = (2.2, 3.4, 2.8, 1.6, 2.3, 2.7, 3.4, 3.2, 2.8, 3.8, -0.4, 1.6, 3.2, 2.1, 1.5, 1.5)

In [3]:
values

(2.2,
 3.4,
 2.8,
 1.6,
 2.3,
 2.7,
 3.4,
 3.2,
 2.8,
 3.8,
 -0.4,
 1.6,
 3.2,
 2.1,
 1.5,
 1.5)

In [6]:
values[10] = 1.5

TypeError: 'tuple' object does not support item assignment

튜플로 선언된 데이터형은 선언 후, 추가 assignment가 되지 않는 점 참조! (시리즈나 프레임 안에 넣은 후, 시리즈 및 프레임 내 데이터는 수정 가능!)

In [7]:
inflation = pd.Series(values)
inflation

0     2.2
1     3.4
2     2.8
3     1.6
4     2.3
5     2.7
6     3.4
7     3.2
8     2.8
9     3.8
10   -0.4
11    1.6
12    3.2
13    2.1
14    1.5
15    1.5
dtype: float64

In [8]:
len(inflation)

16

len(.) 함수는 파이썬 내장함수이므로 어디에나 쓸 수 있다! 길이를 체크하는 함수인 점 확인!

방금 만든 것처럼, 간단한 시리즈는 정수형 인덱스가 기본이다. 
(각 데이터 앞에 정수 0,1,2,... 로 레이블이 되어있다!)

시리즈의 value 속성 값 (attribute)은 시리즈 안에 있는 데이터 모든 값을 담는 리스트이다.
쉽게 말해, 시리즈 안에 있는 값들을 다 가져와봐~~ 라고 명령하면 리스트 형식으로 리턴해준다.
바로 아래를 확인!

In [9]:
inflation.values

array([ 2.2,  3.4,  2.8,  1.6,  2.3,  2.7,  3.4,  3.2,  2.8,  3.8, -0.4,
        1.6,  3.2,  2.1,  1.5,  1.5])

.values를 이용하면, 시리즈 안에 담긴 속성 값들을 모두 리턴해준다. 
(추후 다룰 '데이터 프레임'에서도 확인해봐야함)

이어 .index는 특정한 값이 아닌 "또 다른 pandas 데이터 타입"으로 범위의 표현을 리턴한다.

In [10]:
inflation.index

RangeIndex(start=0, stop=16, step=1)

In [11]:
inflation.index.values

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

말 그대로, .index는 또다른 pandas 데이터 타입이기 때문에
실제 index의 표현 값 (속성값:attribution)를 확인하기 위해서는 
index.values를 사용해야한다


Pandas가 시리즈나 프레임을 만들 때, 입력에 넣었던 데이터 구조를 그대로 사용하지는 않는다!
시리즈나 프레임을 만들면, 해당 데이터에 알맞게 "Numpy 배열"을 저장공간으로 사용한다.

그렇기 때문에, 해당 numpy 배열이 나타내는 값을 변형할 수 있다.

다시 말하면, 위의 튜플은 데이터 변형이 되지 않지만 튜플로 시리즈를 만들었을 때 시리즈는 데이터 변형이 된다.

In [12]:
inflation.values[-1]=1.6

In [13]:
inflation

0     2.2
1     3.4
2     2.8
3     1.6
4     2.3
5     2.7
6     3.4
7     3.2
8     2.8
9     3.8
10   -0.4
11    1.6
12    3.2
13    2.1
14    1.5
15    1.6
dtype: float64

이렇게 시리즈를 쓸 때, 한 가지 주의해야할 사항이 있다.
이 시리즈가 단순히 배열처럼 보이고, 배열처럼 행동한다는 것이다!
(이럴 거면 그냥 배열을 쓰지...)

우리는 각 연도에 따른 데이터를 저장할 것이니깐! 해당 연도와 데이터 값 자체를 동시에 사용하고 싶은 것이 다양하다.

한 가지 대안으로, 연도를 담은 시리즈와 인플레이션 값을 담은 시리즈 두개를 만들어서 동시에 다루면 되지 않을까? << 개소리..

현재 인덱스가 0,1,2,...로 되어 있는데 이제 Index를 조정해보자.

딕셔너리(Dictionary) 자료형으로 시리즈를 생성하면 (생성자를 호출하면)
커스터마이즈된 인덱스를 가진 시리즈를 만들 수 있다.

In [17]:
import numpy as np
inflation = pd.Series({1999 : 2.2, 2000 : 3.4, 2001 : 2.8, 2002 : 1.6, 2003 : 2.3, 2004 : 2.7, 2005 : 3.4, 2006 : 3.2, 2007 : 2.8, 2008 : 3.8, 2009 : -0.4, 
                       2010 : 1.6, 2011 : 3.2, 2012 : 2.1, 2013 : 1.5, 2014 : 1.6, 2015 : np.nan})

위의 예는 딕셔너리 자료형을 통해, 시리즈를 생성한 예이다.

각 인덱스는 연도를, 시리즈 속성값은 인플레이션 값을 의미한다.

마지막 2015년 데이터는 np.nan을 위해 결측값으로 지정해주었다!

In [18]:
inflation

1999    2.2
2000    3.4
2001    2.8
2002    1.6
2003    2.3
2004    2.7
2005    3.4
2006    3.2
2007    2.8
2008    3.8
2009   -0.4
2010    1.6
2011    3.2
2012    2.1
2013    1.5
2014    1.6
2015    NaN
dtype: float64

아래와 같은 방법으로도 같은 시리즈를 만들 수 있다!

In [20]:
inflation = pd.Series((2.2, 3.4, 2.8, 1.6, 2.3, 2.7, 3.4, 3.2, 2.8, 3.8, 
-0.4, 1.6, 3.2, 2.1, 1.6, 1.5))
inflation.index = pd.Index(range(1999, 2015))
inflation[2015] = np.nan

In [21]:
inflation

1999    2.2
2000    3.4
2001    2.8
2002    1.6
2003    2.3
2004    2.7
2005    3.4
2006    3.2
2007    2.8
2008    3.8
2009   -0.4
2010    1.6
2011    3.2
2012    2.1
2013    1.6
2014    1.5
2015    NaN
dtype: float64

시리즈 값과 인덱스는 이를 나타내는 이름을 가질 수 있다.

즉 연도와 인플레이션 값이라는 정보를 시리즈 안에 담을 수 있다.

name 속성 값으로 접근하고 할당하면 된다.

In [22]:
inflation.index.name = "Year"
inflation.name = "Inflation Rate: %"

In [23]:
inflation

Year
1999    2.2
2000    3.4
2001    2.8
2002    1.6
2003    2.3
2004    2.7
2005    3.4
2006    3.2
2007    2.8
2008    3.8
2009   -0.4
2010    1.6
2011    3.2
2012    2.1
2013    1.6
2014    1.5
2015    NaN
Name: Inflation Rate: %, dtype: float64

In [25]:
inflation.head()

Year
1999    2.2
2000    3.4
2001    2.8
2002    1.6
2003    2.3
Name: Inflation Rate: %, dtype: float64

head() 와 tail() 함수는 각각 상위 5개, 하위 5개의 행을 리턴하는 함수이니 참조~

이처럼, 시리즈는 1차원 벡터를 다루기 위한 pandas 데이터구조이다.
2차원 데이터부터는 데이터 프레임을 활용한다!



데이터 프레임

- 인덱스가 있는 행과 열로 구성된 데이블.
- 2차원 numpy 배열, 튜플로 구성된 리스트, 딕셔너리, 또 다른 데이터 프레임으로 생성 가능
- 딕셔너리의 키는 열 이름, 값은 열을 구성하는 값이 된다.
- 배열을 사용하여 데이터 프레임을 생성할 때는 옵셔널 파라미터 columns를 사용해 열 이름으로 된 시퀀스를 전달할 수 있음
- numpy의 접근 방식에 따라서 데이터 프레임 인덱스는 0번째 축(axis, 수직)이고, 열은 1번째 축(axis, 수평)이다.

아래는 niaaa-report2009.csv 파일을 데이터 프레임으로 읽는 예시이다.
해당 데이터는 2009년, 각 주의 알콜 종류별 1인당 알콜 소비량과 관련한 데이터이다.

pandas 내, read_csv 함수를 통해 손쉽게 csv 파일을 읽을 수 있다. 

(* 데이터 양식)
State Beer Wine Spirits
Alabama 1.20 0.22 0.58
...

index_col을 State로 직접 지정해주었기 때문에, 아래와 같이 State를 Index로 나머지 columns의 값을 속성값으로 표기하는 것을 확인하자.

In [26]:
alco2009 = pd.read_csv("niaaa-report2009.csv", index_col="State")
alco2009

                      Beer  Wine  Spirits
State
Alabama               1.20  0.22     0.58
Alaska                1.31  0.54     1.16
Arizona               1.19  0.38     0.74
Arkansas              1.07  0.17     0.60
California            1.05  0.55     0.73
Colorado              1.22  0.46     1.00
Connecticut           0.89  0.59     0.86
Delaware              1.31  0.57     1.25
District of Columbia  1.26  1.00     1.64
Florida               1.21  0.48     0.92
Georgia               1.08  0.25     0.64
Hawaii                1.30  0.53     0.75
Idaho                 1.05  0.92     0.70
Illinois              1.22  0.39     0.73
Indiana               1.09  0.25     0.73
Iowa                  1.42  0.18     0.72
Kansas                1.18  0.14     0.67
Kentucky              1.11  0.18     0.65
Louisiana             1.50  0.28     0.85
Maine                 1.24  0.42     0.83
Maryland              0.97  0.37     0.87
Massachusetts         1.02  0.61     0.84
Michigan              1.10  0.31     0.80
Minnesota             1.19  0.37     1.04
Mississippi           1.41  0.11     0.71
Missouri              1.30  0.30     0.83
Montana               1.66  0.45     0.88
Nebraska              1.46  0.20     0.68
Nevada                1.57  0.58     1.15
New Hampshire         1.72  0.84     1.82
New Jersey            0.92  0.57     0.87
New Mexico            1.37  0.32     0.74
New York              0.91  0.46     0.69
North Carolina        1.10  0.34     0.58
North Dakota          1.63  0.25     1.16
Ohio                  1.28  0.26     0.47
Oklahoma              1.18  0.18     0.58
Oregon                1.28  0.49     0.82
Pennsylvania          1.35  0.23     0.61
Rhode Island          1.10  0.53     0.92
South Carolina        1.36  0.24     0.77
South Dakota          1.53  0.22     0.88
Tennessee             1.05  0.21     0.57
Texas                 1.42  0.28     0.58
Utah                  0.70  0.17     0.46
Vermont               1.36  0.63     0.70
Virginia              1.11  0.43     0.59
Washington            1.09  0.51     0.74
West Virginia         1.24  0.10     0.45
Wisconsin             1.49  0.31     1.16
Wyoming               1.45  0.22     1.10

데이터 프레임 생성 시, 튜플로 구성된 배열을 직접 넣어도 되고

예를 들면: [(1.20, 0.22, 0.58), (..), (..), ..] 이렇게 데이터를 직접 구성하고 

columns = ("Beer", "Wine, "Spirits"), 

index=("Alabama", "Alaska", ...) 이렇게 인덱스도 직접 구성

아니면!!

딕셔너리 형태로 직접 넣어도 된다. {"Beer":(1.20,...), ...}, index=("Alabama",...) 이렇게!


데이터 프레임의 개별 열에 접근할 때는 딕셔너리나 오브젝트(obejct) 구문을 이용해야한다.

다만, 새로운 열을 추가할 때는 반드시 딕셔너리를 사용해야한다.

In [27]:
alco2009["Wine"].head()

State
Alabama       0.22
Alaska        0.54
Arizona       0.38
Arkansas      0.17
California    0.55
Name: Wine, dtype: float64

In [28]:
alco2009.Beer.tail()

State
Virginia         1.11
Washington       1.09
West Virginia    1.24
Wisconsin        1.49
Wyoming          1.45
Name: Beer, dtype: float64

In [29]:
alco2009["Total"]=0 # 딕셔너리 형태로 새로운 열 생성

In [30]:
alco2009.head()

            Beer  Wine  Spirits  Total
State
Alabama     1.20  0.22     0.58      0
Alaska      1.31  0.54     1.16      0
Arizona     1.19  0.38     0.74      0
Arkansas    1.07  0.17     0.60      0
California  1.05  0.55     0.73      0